/* Styles for Popular Page */

.light {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  color: black;
}

.dark {
  width: 100%;
  background: #1c2022;
  display: flex;
  justify-content: center;
  color: white;
}

.container-light {
  width: 93.5%;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.container-dark {
  width: 93.5%;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.nav-ul1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-ul1-li {
  display: inline;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-family: sans-serif;
}

.nav-ul2 input[type="radio"]:checked+label {
  color: rgb(187, 46, 31);
}

.nav-ul2 input[type="radio"] {
  display: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.torch {
  justify-content: flex-end;
  background: none;
  border: none;
  font-size: 2rem;
}

.nav-ul2 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-ul2 li {
  display: inline;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-family: sans-serif;
}

.nav-ul2 li a {
  color: black;
  text-decoration: none;
}

.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.card-light {
  box-sizing: content-box;
  width: 250px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  display: flex;
  margin: 2px 2px 10px 2px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-dark {
  box-sizing: content-box;
  width: 250px;
  background: rgb(36, 40, 42);
  border-radius: 0.25rem;
  display: flex;
  margin: 2px 2px 10px 2px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-h4 {
  text-align: center;
  width: 70%;
  font-size: 35px;
  margin: 20px;
  font-weight: 300;
}

.card-img {
  height: 150px;
  width: 150px;
  border-radius: 3px;
  margin: 0 auto;
}

.card-a {
  text-decoration: none;
  color: rgb(187, 46, 31);
}

.card-h2 {
  text-align: center;
  margin: 20px;
  width: 100%;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 2.5px;
}

.card-ul {
  margin: 0px 20px 20px 20px;
  width: 100%;
  font-size: 20px;
  font-family: sans-serif;
}

.card-ul-li {
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 20px;
}

.card-ul-li-div {
  position: relative;
  display: flex;
}

.a-light {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: sans-serif;
}

.a-dark {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: sans-serif;
}

.card-ul-li-img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}



/* Styles for Battle Page */

.battle-body {
  font-family: sans-serif;
}

.battle-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.battle-nav-ul {
  align-items: center;
}

.battle-nav-ul-li {
  display: inline;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-family: sans-serif;
}

.battle-nav-ul input[type="radio"] {
  display: none;
}

.battle-torch {
  justify-content: flex-end;
  background: none;
  border: none;
  font-size: 2rem;
}

.battle-section {
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.battle-section-h1 {
  font-size: 35px;
  text-align: center;
  font-weight: 300;
  margin: 20px;
}

.battle-ol {
  width: 80%;
  margin: 0;
  padding: 0px;
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
}

.battle-ol-li {
  min-width: 300px;
  text-align: center;
}

.battle-h3 {
  margin: 10px;
  font-size: 27px;
  font-weight: 300;
}

.battle-section-img-bg-light {
  height: 140px;
  width: 140px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.08);
}

.battle-section-img-bg-dark {
  height: 140px;
  width: 140px;
  padding: 40px;
  background: rgb(36, 40, 42);
}

.battle-footer {
  margin-bottom: 100px;
}

.battle-footer-h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  margin: 20px;
}

.battle-div-outer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.battle-form {
  margin: 0px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.battle-label {
  font-size: 20px;
  margin: 5px 0px;
  font-weight: 300;
}

.battle-div-inner {
  display: flex;
  flex-direction: row;
}


.playerInfo-Outer-div {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  justify-content: space-between;
}

.playerInfo-div {
  width: 250px;
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}

.playerInfo-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.playerInfo-span {
  margin-left: 10px;
  color: rgb(187, 46, 31);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.playerInfo-X-Button {
  color: #DADADA;
  background: rgb(194, 57, 42);
  border-radius: 25px;
  border: none;
  outline: none;
  font-weight: 900;
  font-size: 15px;
  margin-left: 50px;
}

.battle-footer-input-light {
  padding: 8px;
  font-size: 16px;
  flex: 2;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  width: 30%;
}

.battle-footer-input-dark {
  padding: 8px;
  font-size: 16px;
  flex: 2;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #DADADA;
  background: rgba(0, 0, 0, 0.3);
  width: 30%;
}

.battle-footer-button {
  flex: 1;
  margin-left: 10px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  max-width: 200px;
}

.doBattle {
  width: 15%;
  margin: 40px auto;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: #e6e6e6;
  background: #141414;
}

.doBattleLink {
  text-decoration: none;
  color: #e6e6e6;
}

.blacktext {
  text-decoration: none;
  color: black;
}

.whitetext {
  text-decoration: none;
  color: white;
}

a.active {
  color: brown;
}

/* Result Page */

.result-outer-div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result-cards-div {
  margin: 10px 0px;
  width: 250px;
  padding: 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-cards-1-h4 {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  margin: 20px;
  font-family: sans-serif;
}

.result-cards-img {
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  border-radius: 3px;
  display: block;
}

.result-cards-2-h4 {
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.result-cards-h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: rgb(187, 46, 31);
  font-weight: bold;
}

.result-cards-ul {
  width: 100%;
  margin: 20px 0px;
  font-size: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.result-cards-li {
  display: flex;
  align-items: center;
  margin: 10px;
  list-style-type: none;
  font-family: sans-serif;
}

.result-outermost-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Reset-button {
  width: 15%;
  margin: 40px auto;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  background: #141414;
  font-family: sans-serif;
}

.resetToBattle {
  text-decoration: none;
  color: #e6e6e6;
}

/* Themes Page */